body {
	width: 100% !important;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-color: coral !important;
}


.ustImage {
  position: relative !important;
  left: 0px !important;
  right: 0px !important;
}

.ustKayitOl {
  position: absolute !important;
  left: 120px !important;
  top: 430px !important;
}

.altImage {
  position: relative !important;
  left: 0px !important;
  right: 0px !important;
}

.altKayitOl {
  position: absolute !important;
  left: 330px !important;
  top: 200px !important;
}
